html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #eef2ff top center repeat-x;
  color: #000;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.nwsb {
  display: none;
}
.adg-rects {
  margin: 10px 0;
  text-align: center;
}
.adg,
.adg-m {
  overflow: hidden;
}
.adg-rep .adg {
  margin-left: 15px;
}
.adp-228 {
  margin: auto;
  width: 728px;
  height: 320px;
}
.adp-90 {
  margin: auto;
  width: 728px;
  height: 90px;
}
.adp-128 {
  margin: auto;
  width: 728px;
  height: 128px;
}
.adp-j {
  margin: auto;
  width: 728px;
  height: 102px;
}
.adp-50 {
  margin: auto;
  width: 320px;
  height: 50px;
}
.adp-250 {
  margin: auto;
  width: 300px;
  height: 250px;
}
.adp-row {
  display: inline-block;
  margin: 0 10px;
}
.adl {
  font-size: 10px;
}
.adl + .ad-bgls,
.ad-bgls + .adl {
  margin-top: 8px;
}
.bsa-cnt {
  margin: 20px 0;
  height: 90px;
  text-align: center;
}
#t-root {
  overflow: hidden;
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #777;
  margin: 2px 0;
  width: 300px;
}
@media only screen and (max-width: 640px) {
  .bsa-cnt {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.adc-resp {
  margin: auto;
  width: 728px;
  height: 228px;
  overflow: hidden;
}
.adc-resp-bg {
  margin: auto;
  width: 728px;
  height: 112px;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .adc-resp {
    width: 300px;
    height: 300px;
  }
  #quickReply {
    z-index: 9000 !important;
  }
  .adc-resp-bg {
    width: 300px;
    height: 250px;
  }
}
hr#op,
#ctrl-top {
  clear: both;
}
.party-hat {
  left: 0;
  margin-top: -80px;
  position: absolute;
  pointer-events: none;
}
.sjis,
#quickReply .sjis {
  font-size: 16px;
  line-height: 17px;
  white-space: pre;
  font-family: ipamonapgothic, mona, ms pgothic, monospace;
  overflow: auto;
  display: block;
  clear: left;
}
.tex-logo {
  font-size: 0.8em;
}
.tex-logo sub {
  font-size: 0.8em;
  text-transform: uppercase;
}
.mu-s {
  font-weight: 700;
}
.mu-i {
  font-style: italic;
}
.mu-r {
  color: #c41e3a;
}
.mu-g {
  color: #00a550;
}
.mu-b {
  color: #1d8dc4;
}
.pu-lbl {
  color: #117743;
  font-weight: 700;
  font-size: 12px;
}
.pu-img {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(//s.4cdn.org/image/minileaf.gif);
}
.n-pu {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  background: url(//s.4cdn.org/image/minileaf.gif);
}
.jla-it {
  height: 420px;
  width: 680px;
}
.jla-it-p {
  font-size: 0.85em;
  text-align: center;
}
.n-atb {
  border-radius: 6px;
  padding: 1px 4px;
  color: #353839;
}
.atsb2018 table {
  margin: auto;
  font-size: 90%;
}
.atsb2018 td {
  white-space: nowrap;
  padding: 0 4px;
}
.atsb2018 .atsgc {
  width: 280px;
}
.atsb2018 .atgg {
  height: 20px;
}
.n-atb-0 {
  background-color: #f56fa1;
}
.n-atb-1 {
  background-color: #7b3f00;
  color: #f2f3f4;
}
.n-atb-2 {
  background-color: #fffdd0;
}
.n-atb-3 {
  background-color: #e4d00a;
}
.n-atb-4 {
  background-color: #50c878;
}
.n-atb-0::after {
  content: "Team Peep";
}
.n-atb-1::after {
  content: "Team Chocolate";
}
.n-atb-2::after {
  content: "Team Creme";
}
.n-atb-3::after {
  content: "Team Peanut Butter";
}
.n-atb-4::after {
  content: "Team Mini";
}
@media only screen and (max-width: 700px) {
  .jla-it {
    width: 340px;
    height: 220px;
    margin: auto;
  }
  .jla-it img {
    width: 340px;
    height: 200px;
  }
}
.centeredThreads .party-hat {
  left: 12%;
}
.aplnk,
.linkified {
  text-decoration: underline;
}
#disclaimer {
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
#disclaimer a {
  color: #00f;
}
#disclaimer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
#disclaimer-modal {
  z-index: 9999;
  width: 320px;
  top: 0;
  left: 50%;
  margin-left: -170px;
  display: block;
  padding: 10px;
  position: relative;
  background-color: #d6daf0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#disclaimer ol {
  margin-left: 20px;
  padding: 0;
}
#disclaimer li {
  margin: 10px 0;
}
#disclaimer h3 {
  border-bottom: 1px solid #b7c5d9;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}
#disclaimer-modal div {
  margin-top: 10px;
  text-align: center;
}
#disclaimer-modal button {
  margin: 0 10px;
}
#disclaimer-accept {
  font-weight: 700;
}
#footer-links {
  margin-top: 5px;
}
.isMobileDevice blockquote.postMessage {
  font-size: 11pt;
}
.belowLeaderboard {
  width: 728px;
  max-width: 100%;
}
.aboveMidAd {
  width: 468px;
  max-width: 100%;
}
#captchaContainerAlt {
  height: 80px;
}
#captchaContainerAlt .recaptcha_image_cell {
  padding: 0 0 5px !important;
}
#captchaContainerAlt #recaptcha_table {
  border: 0 !important;
}
#captchaContainerAlt #recaptcha_response_field {
  width: 300px !important;
  padding: 0 !important;
}
#qrCaptchaContainerAlt #recaptcha_response_field {
  width: 296px !important;
}
#captchaContainerAlt #recaptcha_image,
#qrCaptchaContainerAlt #recaptcha_image {
  border: 0 !important;
}
#qrCaptchaContainerAlt .recaptcha_image_cell {
  padding: 0 !important;
}
#qrCaptchaContainerAlt #recaptcha_table {
  border: 0 !important;
}
#captchaContainerAlt td:nth-child(2),
#captchaContainerAlt td:nth-child(3),
#qrCaptchaContainerAlt td:nth-child(2),
#qrCaptchaContainerAlt td:nth-child(3) {
  display: none !important;
}
#qrCaptchaContainerAlt {
  height: 80px;
  width: 300px;
}
#recaptcha_table {
  background-color: transparent !important;
  border: none !important;
}
.recaptcha_image_cell {
  background-color: transparent !important;
}
#g-recaptcha {
  height: 78px;
}
#recaptcha_challenge_field {
  width: 400px;
}
.recaptcha_input_area {
  padding: 0 !important;
}
#recaptcha_table tr:first-child {
  height: auto !important;
}
#recaptcha_table tr:first-child > td:not(:first-child) {
  padding: 0 7px !important;
}
#recaptcha_table tr:last-child td:last-child {
  padding-bottom: 0 !important;
}
#recaptcha_table tr:last-child td:first-child {
  padding-left: 0 !important;
}
#recaptcha_image {
  cursor: pointer;
}
#recaptcha_response_field {
  width: 292px;
  margin-right: 0 !important;
  font-size: 10pt !important;
}
input:-moz-placeholder {
  color: gray !important;
}
#recaptcha_image {
  border: 1px solid #aaa !important;
}
#recaptcha_table tr > td:last-child {
  display: none !important;
}
#captchaContainer {
  width: 343px;
  height: 86px;
  line-height: 99px;
  overflow: hidden;
}
#captchaContainer .placeholder {
  font-style: italic;
  padding-left: 5px;
}
.mobile,
.mobileinline,
.mobileib {
  display: none !important;
}
a,
a:visited {
  color: #34345c;
  text-decoration: none;
}
a.replylink:not(:hover),
div#absbot a:not(:hover) {
  color: #34345c !important;
}
a:hover {
  color: #d00 !important;
}
div#absbot {
  color: #000;
  clear: both;
}
img {
  border: none;
}
img.topad,
.topad > div,
.topad a img {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
img.middlead,
.middlead > div,
.middlead a img {
  width: 468px;
  height: 60px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
img.bottomad,
.bottomad > div,
.bottomad a img {
  width: 728px;
  height: 90px;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}
hr {
  border: none;
  border-top: 1px solid #b7c5d9;
  height: 0;
}
div.board > hr {
  clear: both;
}
hr.abovePostForm {
  width: 90%;
}
span.x-small {
  font-size: x-small;
}
div.backlink {
  font-size: x-small !important;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.backlink span {
  padding-right: 5px;
}
#postFormError {
  background-color: #e62020;
  color: #fff;
  font-family: monospace;
  font-size: 13px;
  font-weight: 700;
  padding: 3px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: 3px;
}
#postFormError a {
  color: #fff;
}
.painter-ctrl input[type="text"],
#qr-painter-ctrl input[type="text"] {
  width: 30px !important;
  text-align: center;
}
#qr-painter-ctrl .oe-r-cb {
  vertical-align: sub;
}
#oe-canvas-preview {
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}
.mobile {
  display: none;
}
ul.rules {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
ul.rules > li {
  list-style: none;
  font-size: 11px;
}
.rules > li:before {
  content: "\2022 \20";
}
div.boardBanner {
  text-align: center;
  clear: both;
  color: #af0a0f;
}
#bannerCnt {
  border: 1px solid #34345c;
  margin: 5px auto;
  width: 300px;
  height: 100px;
  max-width: 100%;
}
div.boardBanner > div.boardTitle {
  font-family: Tahoma, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 0;
}
div.boardBanner > div.boardSubtitle {
  font-size: x-small;
}
div#boardNavDesktop {
  font-size: 9pt;
  color: #89a;
  display: block;
}
.hasDropDownNav #navtopright {
  display: none;
}
#boardNavDesktop .pageJump {
  padding: 0;
}
#boardNavDesktop .pageJump a {
  padding-right: 5px;
}
div#boardNavDesktop a {
  font-weight: 400;
  padding: 1px;
  text-decoration: none;
  color: #34345c;
}
div.pContainer {
}
div.opContainer {
  display: inline;
}
div.sideArrows {
  color: #b7c5d9;
  float: left;
  margin-right: 2px;
  margin-top: 0;
  margin-left: 2px;
}
div.thread {
  margin: 0;
  clear: both;
}
div.post {
  margin: 4px 0;
  overflow: hidden;
}
div.thread > div:nth-of-type(2) > div.reply {
  margin-top: 2px !important;
}
div.op {
  display: inline;
}
div.reply {
  background-color: #d6daf0;
  border: 1px solid #b7c5d9;
  border-left: none;
  border-top: none;
  display: table;
  padding: 2px;
}
div.reply input {
  float: none;
}
div.post div.postInfo {
  display: block;
  width: 100%;
}
.fileText {
  max-width: 600px;
  white-space: nowrap;
}
div.post div.postInfo span.postNum {
}
div.post div.postInfo span.postNum a {
  text-decoration: none;
  color: #000;
}
div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover {
  color: #d00 !important;
}
div.post div.postInfo span.nameBlock {
  display: inline-block;
}
div.post div.postInfo span.nameBlock span.name {
  color: #117743;
  font-weight: 700;
}
div.post div.postInfo span.nameBlock span.postertrip {
  color: #117743;
  font-weight: 400 !important;
}
div.post div.postInfo span.date {
}
div.post div.postInfo span.time {
}
div.post div.postInfo span.subject {
  color: #0f0c5d;
  font-weight: 700;
}
div.post blockquote.postMessage {
  display: block;
}
blockquote > span.quote {
  color: #789922;
}
.quoteLink,
.quotelink,
.deadlink {
  color: #d00 !important;
  text-decoration: underline;
}
.is_arclist .belowLeaderboard {
  display: none;
}
#arc-list {
  max-width: 80%;
  margin: 10px auto 0;
}
#arc-list td {
  text-align: center;
}
#arc-list .teaser-col {
  text-align: left;
  word-break: break-all;
}
#arc-list .quotelink {
  color: #34345c !important;
}
#arc-list .quotelink:hover {
  color: #d00 !important;
}
#arc-sort {
  border-bottom: 1px dotted;
  cursor: pointer;
}
div.post div.file {
  display: block;
}
div.post div.file div.fileInfo {
  margin-right: 10px;
  word-break: break-all;
}
div.replyContainer div.post div.file div.fileInfo {
  margin-left: 20px;
}
div.post div.file .fileThumb {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 5px;
}
span.fileThumb {
  margin-left: 0 !important;
  margin-right: 5px !important;
}
div.reply span.fileThumb,
div.reply span.fileThumb img {
  float: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.post div.file .fileThumb img {
  border: none;
  float: left;
}
span.summary {
  color: #707070;
  margin-top: 10px;
}
div.postingMode {
  background-color: #e04000;
  padding: 1px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: larger;
  margin-top: 8px;
}
#verification table {
  border: none !important;
  margin: 0;
}
div.thread:last-child {
  padding-bottom: 21px;
  margin-bottom: 6px;
}
div.pagelist {
  font-size: 13px !important;
  margin: 0;
  padding: 3px 7px;
  float: left;
  border: none;
  background: #d6daf0;
  border-right: 1px solid #b7c5d9;
  border-bottom: 1px solid #b7c5d9;
  list-style: none;
  overflow: hidden;
  color: #89a;
}
div.pagelist > div {
  float: left;
}
div.pagelist > div span {
  padding: 4px;
  display: inline-block;
}
div.pagelist div.pages {
  padding: 4px;
}
div.pagelist div.pages a {
  text-decoration: none !important;
}
div.pagelist form {
  display: inline;
}
div.pagelist strong {
  color: #000;
}
div.pagelist div.cataloglink {
  border-left: 1px solid #b7c5d9;
  padding-left: 12px;
  margin-left: 7px;
}
.bottomCtrl {
  float: right;
  margin-top: 2px;
}
input[type="password"] {
  width: 50px;
  text-align: center;
}
div.deleteform input[type="checkbox"] {
  margin: 1px 2px;
}
.stylechanger {
  margin-left: 5px;
  font-size: 10pt;
}
div#boardNavDesktopFoot {
  font-size: 9pt;
  color: #89a;
  clear: both;
  padding-top: 10px;
  padding-bottom: 3px;
}
div#boardNavDesktopFoot a {
  font-weight: 400;
  padding: 1px;
  text-decoration: none;
  color: #34345c;
}
div.homelink {
  float: right;
}
div#absbot {
  text-align: center;
  font-size: x-small !important;
  padding-bottom: 4px;
  padding-top: 10px;
  color: #000;
}
#recaptcha_response_field {
  padding: 0;
}
table {
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}
table.postForm > tbody > tr > td:first-child {
  background-color: #98e;
  color: #000;
  font-weight: 700;
  border: 1px solid #000;
  padding: 0 5px;
  font-size: 10pt;
}
tr.rules td {
  border: 0 !important;
  background-color: transparent !important;
  font-weight: 400 !important;
}
td {
  margin: 0;
  padding: 0;
  font-size: 10pt;
}
input[type="text"],
input[type="password"],
table.postForm > tbody textarea,
#recaptcha_response_field {
  margin: 0;
  margin-right: 2px;
  padding: 2px 4px 3px;
  border: 1px solid #aaa;
  outline: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}
#recaptcha_response_field:not(:focus) {
  border: 1px solid #aaa !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
input:not([type]):focus,
textarea:focus {
  border: 1px solid #98e !important;
}
table.postForm > tbody > tr > td > input[type="text"] {
  width: 244px;
}
table.postForm > tbody > tr > td > input[name="subject"] {
  width: 300px;
}
.postblock {
  background-color: #98e;
  color: #000;
  font-weight: 700;
  border: 1px solid #000;
  padding: 0 5px;
  font-size: 10pt;
}
div.closed {
  font-size: x-large;
  text-align: center;
  color: red;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 100px;
}
.arc-ads {
  width: 300px;
  margin: 30px auto -60px;
}
.arc-ads::after {
  display: block;
  content: "";
  clear: both;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  tbody textarea {
    margin-bottom: -3px !important;
    width: 292px;
  }
}
.commentpostername {
  font-weight: 700;
}
.identityIcon {
  margin-bottom: -3px;
  height: 16px;
  width: 16px;
}
.stickyIcon {
  margin-bottom: -1px;
  padding-left: 2px;
  height: 16px;
  width: 16px;
}
.archivedIcon,
.closedIcon {
  margin-bottom: -1px;
  margin-left: -1px;
  height: 16px;
  width: 16px;
}
.trashIcon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}
.fileDeleted {
  height: 13px;
  width: 172px;
}
.fileDeletedRes {
  height: 13px;
  width: 127px;
}
.navSmall {
  font-size: 90%;
}
.center {
  text-align: center;
}
.bold {
  font-weight: 700;
}
.smaller {
  font-size: smaller;
}
.password {
  font-size: smaller;
}
.passNotice {
  font-size: smaller;
  padding-left: 6px;
}
.qcDiv {
  display: none;
}
.qcImg {
  height: 1px;
  width: 1px;
  border: 0;
}
.jpnFlag {
  height: 11px;
  width: 17px;
}
.globalMessage {
  color: red;
  text-align: center;
}
.highlightPost:not(.op) {
  background: #c1c6e2 !important;
  border-color: #7b82ac !important;
}
.reply:target,
.reply.highlight {
  background: #d6bad0 !important;
  border: 1px solid #ba9dbf !important;
  border-left: none !important;
  border-top: none !important;
  padding: 2px;
}
.useremail:not(:hover) .name:not(.capcode),
.useremail:not(:hover) .postertrip:not(.capcode) {
  color: #34345c !important;
}
.hand {
  cursor: pointer;
}
.nameBlock.capcodeAdmin span.name,
span.capcodeAdmin a span.name,
span.capcodeAdmin span.postertrip,
span.capcodeAdmin strong.capcode {
  color: red !important;
}
span.capcodeFounder span.name,
span.capcodeFounder span.name a,
span.capcodeFounder span.postertrip,
span.capcodeFounder strong.capcode {
  color: #117743 !important;
}
.nameBlock.capcodeMod span.name,
span.capcodeMod a span.name,
span.capcodeMod span.postertrip,
span.capcodeMod strong.capcode {
  color: purple !important;
}
.nameBlock.capcodeDeveloper span.name,
span.capcodeDeveloper a span.name,
span.capcodeDeveloper span.postertrip,
span.capcodeDeveloper strong.capcode {
  color: #0000f0 !important;
}
.nameBlock.capcodeManager span.name,
span.capcodeManager a span.name,
span.capcodeManager span.postertrip,
span.capcodeManager strong.capcode {
  color: #ff0080 !important;
}
.nameBlock.capcodeVerified span.name,
span.capcodeVerified span.name a,
span.capcodeVerified span.postertrip,
span.capcodeVerified strong.capcode {
  color: #007fff !important;
}
.useremail *:hover,
.useremail:hover * {
  color: #d00 !important;
}
#reportTypes a,
.useremail {
  text-decoration: underline;
}
.omittedposts,
.abbr {
  color: #707070;
}
span.spoiler {
  color: #000 !important;
  background: #000 !important;
}
span.spoiler:hover,
span.spoiler:focus {
  color: #fff !important;
}
s,
s a:not(:hover) {
  color: #000 !important;
  background: #000 !important;
  text-decoration: none;
}
s:hover,
s:focus,
s:hover a {
  color: #fff !important;
}
s:hover a {
  text-decoration: underline;
}
table.exif {
  display: none;
  min-width: 450px;
}
table.exif td {
  color: #070707;
  min-width: 150px;
  font-size: 8pt;
}
table.exif td b {
  text-decoration: underline;
}
#navtopright,
#navbotright {
  float: right;
}
.preview {
  background-color: #d6daf0;
  border: 1px solid #b7c5d9 !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}
div.posthover {
  max-width: 400px;
  margin-left: 20px;
}
div.posthover {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
div.posthover a.fileThumb {
  margin-left: 5px !important;
  margin-right: 10px !important;
}
div.posthover blockquote {
  margin: 5px;
}
div.posthover img[data-md5] {
  max-width: 80px;
  max-height: 80px;
  width: auto !important;
  height: auto !important;
}
div.posthover div.fileThumb {
  margin-left: 0 !important;
  margin-right: 10px !important;
}
#settingsBox {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}
.persistentNav,
div#boardNavMobile {
  padding: 2px 4px;
  background-color: #d6daf0;
  overflow: hidden;
  border-bottom: 2px solid #b7c5d9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  z-index: 9001;
}
div#boardNavMobile select,
div#boardNavMobile option {
  font-size: 11px;
}
div.boardSelect {
  float: left;
}
div.boardSelect > strong {
  padding-right: 5px;
}
div.pageJump {
  float: right;
  padding-right: 5px;
  padding-top: 3px;
}
.pageJump a {
  text-decoration: none;
  padding-right: 5px;
}
div.qrWindow {
  position: absolute;
  z-index: 8000;
}
div.qrHeader {
  padding: 2px;
  font-size: small;
  text-align: center;
}
div.qrForm {
  padding: 3px;
}
span.qrButtonHolder {
  position: absolute;
  right: 5px;
  text-align: right;
  top: 3px;
}
span.qrButtonHolder a {
  text-decoration: none;
}
span.qrButtonHolder img {
  cursor: pointer;
  margin-bottom: -1px;
  margin-top: 1px;
}
.extButton img {
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 4px;
}
.qrMessage {
  padding: 2px;
  text-align: center;
}
.op .backlinkHr {
  width: 55%;
}
img.expandedImg {
  max-width: none !important;
  max-height: none !important;
}
#captchaContainer > img {
  float: left;
  border: 1px solid #aaa;
  margin-bottom: 1px;
}
#captchaInfo {
  float: left;
  margin-left: 5px;
  visibility: hidden;
}
#captchaResponse {
  width: 292px;
}
.prettyprint {
  border: none !important;
  background-color: #fff;
  padding: 5px !important;
  display: inline-block;
  max-height: 400px;
  overflow-x: auto;
  max-width: 600px;
  margin: 0;
}
.embed {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
table.flashListing td.postblock {
  padding: 5px;
  text-align: center;
}
table.flashListing td {
  padding: 2px;
  font-size: 9pt;
}
table.flashListing td:not(.subject) {
  text-align: center;
}
table.flashListing .name {
  color: #117743;
  font-weight: 700;
}
table.flashListing .postertrip {
  color: #117743;
}
table.flashListing .subject {
  color: #cc1105;
  font-weight: 700;
}
table.flashListing tr:nth-of-type(odd) {
  background-color: #e0e5f6;
}
input[type="text"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.countryFlag {
  padding-top: 1px;
  margin-bottom: -1px;
}
.deadlink {
  text-decoration: line-through;
}
.oldpost {
  background: inherit;
  color: #0f0c5d;
  font-weight: 800;
}
#enable-mobile {
  font-size: small !important;
}
#disable-mobile {
  font-size: small !important;
}
.mFileInfo {
  padding-top: 5px;
  text-align: center;
  color: #707070 !important;
  font-size: 9pt !important;
  text-decoration: none !important;
}
.name-col,
.file-col,
table.flashListing .subject {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
.ad-plea {
  margin-top: 2px;
  text-align: center;
  font-size: smaller;
}
.ad-plea a {
  text-decoration: none;
}
.fileText a {
  text-decoration: underline;
}
#search-box {
  height: 16px;
  line-height: 16px;
  margin-left: 2px;
  padding: 0 2px;
  width: 120px;
}
#blotter {
  width: 468px;
  margin: auto;
}
#blotter td {
  vertical-align: top;
  font-size: 11px;
}
.blotter-date {
  width: 50px;
  text-align: center;
}
#blotter tfoot {
  text-align: right;
}
.redtxt {
  color: red;
}
#blotter-msgs s {
  background-color: inherit !important;
  color: inherit !important;
  text-decoration: line-through;
}
#postForm textarea {
  width: 292px;
}
#postForm {
  width: 468px;
  display: none;
}
#togglePostFormLink {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.fileWebm:hover:before {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  padding: 0 3px 0 2px;
  position: absolute;
  content: "webm";
  display: block;
  font-size: 11px;
  text-decoration: none;
}
.expandedWebm {
  margin: 3px 20px 5px;
}
#tooltip {
  position: absolute;
  background-color: #181f24;
  font-size: 11px;
  line-height: 13px;
  padding: 3px 6px;
  z-index: 100000;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 400px;
  color: #fff;
  text-align: center;
}
.tip-top-left:before,
.tip-top-right:before,
.tip-top:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #181f24;
  margin-left: -4px;
  bottom: -4px;
}
.tip-top:before {
  left: 50%;
}
.tip-top-right:before {
  left: 2px;
  margin-left: 0;
}
.tip-top-left:before {
  right: 2px;
}
.boardSelect .customBoardList,
.boardSelect .custom-menu-ctrl {
  color: #89a;
}
#postFile {
  margin-right: 10px;
  width: 200px;
}
.dd-menu {
  position: absolute;
  font-size: 12px;
  line-height: 1.3em;
}
.dd-menu a {
  text-decoration: none;
  color: inherit !important;
  display: block;
}
.dd-menu ul {
  background-color: #d6daf0;
  border: 1px solid #b7c5d9;
  border-right-width: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.dd-menu ul ul {
  display: none;
  position: absolute;
}
.dd-menu li {
  cursor: pointer;
  position: relative;
  padding: 2px 4px;
  vertical-align: middle;
  border-bottom: 1px solid #b7c5d9;
}
.dd-menu li:hover {
  background-color: #eef2ff;
}
.dd-menu li:hover ul {
  display: block;
  left: 100%;
  margin-top: -3px;
}
.dd-menu.dd-menu-left li:hover ul {
  left: auto;
  right: 100%;
}
#g-search-form {
  text-align: center;
}
.g-search-ctrl {
  vertical-align: top;
  margin: 0 3px;
}
#js-sf-qf {
  width: 185px;
  padding: 2px 4px 3px;
}
#js-sf-bf {
  padding: 2px 4px 3px;
  width: 125px;
}
#js-sf-status {
  text-align: center;
  font-size: 24px;
}
.js-sf-err {
  color: #c41e3a;
}
.boardBlock {
  font-weight: 700;
}
.blink {
  -webkit-animation: blink 1.5s step-end infinite;
  -moz-animation: blink 1.5s step-end infinite;
  -o-animation: blink 1.5s step-end infinite;
  animation: blink 1.5s step-end infinite;
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.ogv-cnt {
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 16px;
}
.ogv-cnt:not(.ogv-detached)::before {
  content: "Loading…";
  position: absolute;
  top: 8px;
  left: 0;
  font-weight: 700;
}
.ogv-cnt.ogv-loaded::before {
  display: none;
}
.ogv-cnt > ogvjs {
  position: initial !important;
}
.ogv-ctrl {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 32px;
  gap: 0;
  display: none;
}
.ogv-btn {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.ogv-btn svg {
  vertical-align: middle;
}
.ogv-btn svg:last-child {
  display: none;
}
.ogv-btn.ogv-toggled svg:first-child {
  display: none;
}
.ogv-btn.ogv-toggled svg:last-child {
  display: inline;
}
.ogv-ts {
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 32px;
  width: 70px;
  color: #fff;
  overflow: hidden;
}
.ogv-vol {
  width: 50px;
  margin: 0;
}
.ogv-seek {
  width: 0;
  margin: 0;
  flex-grow: 1;
}
